.composite{
    background-image: url('/images/tile.jpg');
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    width:350px;
    margin-left: auto;
    margin-right: auto;   
    min-height: 250px;
    position: relative;
}

.footer{
    width:100%;      
    position: absolute;    
    bottom: 0px;
}
.footer img{
    height: 75px;
}
.footer ul {
    display: flex;
    list-style-type: none;
    background: rgba(0, 0,0, 0.6);
    padding:0;
    margin: 0;
}
.footer ul li{
    font-size: 25px;
    color: white;
    line-height: 75px;
}

